body {
  font-family: sans-serif;
  width: 300px;
  padding: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}